@charset "UTF-8";
#schedule{
    width: 83%;
    height: 80%;
    position: absolute;
    top: 120px;
    right: 0px;
     font-family: 'Do Hyeon', sans-serif;
}
#adminSide{
	font-family: 'Do Hyeon', sans-serif;
	text-decoration: none;
	color: black;
    
}
a {text-decoration: none;}
#main{
    width: 250px;
    height: 40px;
    margin: 0 auto;
}
#main span{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
#month, #add{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgb(230, 228, 228);

}
#month tr, #add tr{
    height: 20px;
   
}
#month th, #add th{
    border-top: 3px solid black;
    text-decoration: none;
}
#month td, #add td{
    height: 100px;
    border: 3px solid black;
    padding: 0;
    margin-top: 0;
    position: relative;
    background-color:white;
    
}

#add td:hover{
	background-color: rgba(191, 243, 108, 0.897);
}
#schedule td:hover{
	background-color:;
}


#month td span, #add td span{
    position: absolute;
    top: 0px;
    
}
#prevMonth, #nextMonth{
	cursor: pointer;
}
