@charset "UTF-8";
div.container{
	float: left;
	width: 29%;
	height:300px;
    margin: 10px;
    padding: 10px;

	text-align:center;
}
table {
	border:1px solid;
	margin:auto;
	border-collapse: collapse;
}
td,th {
	border:1px solid;
}
span#time{
	text-decoration:underline;
	margin: 15px;
    display: block;
}
#order-list{
	width:100%;
}
#rank-list{
	width:100%;
}