@charset "UTF-8";
#scheduleInfo-container{
	
	clear: left; 
	float: right; 
	width: 70%;
	border-right: 1px dotted #ddd;
	padding: 0;
	margin: 0 0 30px;
    background: rgb(248, 248, 248);
    font-family: 'Noto Sans KR', sans-seri;
}
#scheduleInfo-container>input{
	font-family: 'Noto Sans KR', sans-seri;
}
#inner-container>textarea{
	font-family: 'Noto Sans KR', sans-seri;
}
h2{
	textalign: center;
}
#title{
    width: 420px;
}


.content * {
    vertical-align: top;
}


.schedule_renamedFile{

    width: 600px;
  
}
.filelist{
    border: 1px solid blue;
    width: 513px;
    height: 80px;
}
.updateSchedule>input{
	width: 20%;
    height: 30px;
    background-color: #8080ff;
    color: rgb(248, 248, 248);
    font-size: 16px;
	border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-seri;
    margin: 10px;
    display: inline-block;
}
.updateSchedule>inputt:hover{
	 background-color: #131f8c;
    color: rgb(248, 248, 248);
}
.updateSchedule> #delete{
	width: 20%;
    height: 30px;
    background-color: #ce3539;
    color: rgb(248, 248, 248);
    font-size: 16px;
	border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-seri;
    margin: 10px;
}
.updateSchedule> #delete:hover{
	 background-color: #ff8000;
     color: rgb(248, 248, 248);
}
label{
	 font-family: 'Noto Sans KR', sans-seri;
}

#divicon{
	display:none;
	margin-left: 70px;
}
.content {
	padding-left: 140px;
}

#scheduleDday-container {
	display: none;
}
#scheduleIcon-container{
	margin-top: 20px;
}


.img{
	width: 60px;
	height: 60px;
	border:1px solid #cbcbcb;
}
.selected-icon{
	width:60px;
	height:60px;
	border:1px solid #cbcbcb;
}
#selected-icon{
	display: inline-block;	
}
.imgcon{
	display: inline-block;
	
}
