@charset "UTF-8";
#scheduleInfo-container{
	
	clear: left; 
	 
	width: 70%;
	border-right: 1px dotted #ddd;
	padding: 0;
	margin-left:20%;
    background: rgb(248, 248, 248);
    font-family: 'Noto Sans KR', sans-seri;
}
#scheduleInfo-container>input{
	font-family: 'Noto Sans KR', sans-seri;
}
#inner-container>textarea{
	font-family: 'Noto Sans KR', sans-seri;
}
h2{
	textalign: center;
}
#title{
    width: 420px;
}


.content * {
    vertical-align: top;
}

.schedule_renamedFile{

    width: 600px;
  
}
.filelist{
    border: 1px solid blue;
    width: 513px;
    height: 80px;
}
.updateSchedule>input{
	width: 20%;
    height: 30px;
    background-color: #8080ff;
    color: rgb(248, 248, 248);
    font-size: 16px;
	border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-seri;
    margin: 10px;
    display: inline-block;
}
.updateSchedule>input:hover{
	 background-color: #131f8c;
    color: rgb(248, 248, 248);
}
.updateSchedule> #delete{
	width: 20%;
    height: 30px;
    background-color: #ce3539;
    color: rgb(248, 248, 248);
    font-size: 16px;
	border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-seri;
    margin: 10px;
}
.updateSchedule> #delete:hover{
	 background-color: #ff8000;
     color: rgb(248, 248, 248);
}
label{
	 font-family: 'Noto Sans KR', sans-seri;
}

#divicon{
	display:none;
}
.content {
	padding-left: 140px;
}

#scheduleDday-container {
	display: none;
}
#scheduleIcon-container{
	margin-top: 20px;
}


.img{
	width: 60px;
	height: 60px;
	border:1px solid #cbcbcb;
}
.selected-icon{
	width:60px;
	height:60px;
	border:1px solid #cbcbcb;
}
#selected-icon{
	display: inline-block;	
}
.imgcon{
	display: inline-block;
	
}
#scheduleRepeatCheck{
	display: inline-block;
}
#scheduleDdayCheck{
	display: inline-block;
}
.side{
	position: absolute;
	width:175px;
	height:100%;
	top : 0;
	left:0;
	background-color: rgb(206, 219, 186);
	display: inline-block;
}
/*파일넣기 버튼(진짜)*/
.inputfile{
	cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100px;
    height:30px;
    position: absolute;
    height: 28px;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 12px;
}
/*파일 넣기 버튼(가짜)*/
.fakefile{
	width:100px;
	height: 30px;
	color: #222;
    letter-spacing: 0;
    vertical-align: middle;
    padding: 3px 6px 2px;
    overflow: visible;
    cursor: pointer;
    border: 1px solid #cbcbcb;
    line-height: 20px;
    text-decoration: none!important;
    -webkit-appearance: none;
    background: #f8f8f8;
	border-radius: 2px;
}

#file_name{
	
	border:0;
	background: rgb(248, 248, 248);
}
