@CHARSET "UTF-8";
/*검색창*/

#schedulesearch-container {
	text-align:center;
	margin: 0 0 10px 0;
	padding-left: 160px;	
	height:100px;
	
}
div#search-scheduleTitle {
	display: inline-block;
	font-family: 'Black Han Sans', sans-serif;
}
div#search-scheduleContent, div#search-scheduleIcon{
	display: none;
}
div#divicon{	
	width: 290px;
	height: 247px;
	background-color: rgba( 255, 255, 255, 0.1 );	
	position:relative;
	margin-top:5px;		
	margin-left: auto;
	margin-right: auto;
	display:none;
}
img{
	width:50px;
	height:50px;
}
#tableicon{
	border-spacing : 5px;
}


/*게시판*/
section#schedulelist-container{width:600px; height:400px; margin:0 auto; text-align:center;}
section#schedulelist-container h2{margin:10px 0;}
table#tbl-schedulelist{width:100%; margin:0 auto; border:3px solid gray; border-collapse:collapse; clear:both;  }
table#tbl-schedulelist th, table#tbl-schedulelist td {border:1px solid; padding: 5px 0; text-align:center;} 
table#tbl-schedulelist th{
	background: #40bf83 ;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	border:3px solid gray;
}
 table#tbl-schedulelist td{
    font-family: 'Noto Sans KR', sans-serif;
	color: black;
	border:3px solid gray;
 }
#schedulesearch-container{
	
	font-family: 'Black Han Sans', sans-serif;
}
/*페이지바*/
div#pageBar{margin-top:10px; width:100%;
height:50px; text-align:center; 
padding: 5px;
font-family: 'Black Han Sans', sans-serif; }
div#pageBar span.cPage{color: #400040; font-family: 'Black Han Sans', sans-serif;
padding: 5px;}


