@charset "UTF-8";
#scheduleInfo-container{
    position: absolute;
    top: 100px;
    right: 100px;
    width: 1200px;
    height: 600px;
    border: 1px solid black;
}
#inner-container{
    margin: 0 auto;
    border: 1px solid red;
    width: 70%;
    height: 100%;
}
#title{
    width: 450px;
}
.content * {
    vertical-align: top;
}
.func{
    margin-left: 100px;
}
.addfile{
    width: 600px;
    margin-left: 90px;
}
.filelist{
    border: 1px solid blue;
    width: 500px;
    height: 80px;
}