@charset "UTF-8";
* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.side{
	position: absolute;
	width:100px;
	height:100%;
	top : 60px;
	left:0;
	background-color: rgb(206, 219, 186);
}